<script type="text/javascript">
$(function () {
    $("#list").jqGrid({ 
        url: "/membergrid",
		editurl:"/editmember",
        datatype: "xml",
        mtype: "GET",
        colNames: ["id","Surname", "Forename", "Num.", "Phone","Mobile","Email","Type","Location","Paid","Amt Paid","Joined"],//],
        colModel: [
            {name: 'id', index: 'id', width: 70, align: 'center', sorttype: 'int', hidden: true},
			{ name: "surname", width: 120,editable: true, edittype:"text",searchoptions : {
                            // show search options
                            sopt: ["bw","eq"] // ge = greater or equal to, le = less or equal to, eq = equal to  							
						}},
             {name: "forename", width: 120,editable: true, edittype:"text"},
			 { name: "membnum", width: 80,searchoptions : {sopt: ["eq"] } }, //  eq = equal to  	
			{ name: "phone", width: 85, align: "right",editable: true, edittype:"text" },
            { name: "mobile", width: 85, align: "right",editable: true, edittype:"text" }, 
            { name: "email", width: 210, align: "right",editable: true, edittype:"text" ,searchoptions : {sopt: ["cn"] }}, 
			 { name: "membtype", width: 40, align: "right" },
             { name: "location", width: 65, align: "right" },
			 { name: "paidthisyear", width: 40, align: "right" ,editable: true, 
			  edittype:"checkbox", editoptions: { value:"True:False"}, 
			  formatter: "checkbox", formatoptions: {disabled : false},}, 
			  { name: "amtpaidthisyear", width: 80, align: "right",editable: true,searchoptions : {sopt: ["ge","le"] },searchrules:{integer:true}},
			  { name: "datejoined", width: 100, align: "right",search:false }, /**/
			
        ],
        pager: "#pager",
		onSelectRow: editRow,
        rowNum: 10,
        rowList: [10, 20, 30],
        sortname: "membnum",
        sortorder: "asc",
        viewrecords: true,
        gridview: true,
        autoencode: true,
        caption: "Members auto grid",
		 height:'auto',
		 altRows: false,
		 footerrow : true,
		 userDataOnFooter : true,
		 multiselect: true,
		 multikey: "ctrlKey",
 
    }); 
            var lastSelection;
	        function editRow(id) {
                if (id && id !== lastSelection) {
                    var grid = $("#list");
                    grid.jqGrid('restoreRow',lastSelection);
                    grid.jqGrid('editRow',id, {keys:true, focusField: 4});
                    lastSelection = id;
                }
            }
 $('#list').navGrid('#pager',
                { edit: true, add: true, del: true, search: false, refresh: false, view: false, position: "left", cloneToTop: true },
				{
                    closeAfterAdd: true,
                    recreateForm: true,});
			$('#list').jqGrid('filterToolbar',{searchOperators: true,	});
	
	}			); 
</script>
 

    <table id="list"><tr><td></td></tr></table> 
    <div id="pager"></div> 
