<script type="text/javascript">
$(function () {
//  *************No longer used so marked hidden, left in case I need the technique again **********/	
$("#ninja").click(function(){
var theBtn = $(':focus');
var theselection = theBtn[0].name;
$("#ninja")[0].action     ="{{@BASE.'/downloads/"+theselection+"'}}";
$("#ninja").submit();
});
});
</script>
<div class="navbar">

    <div class="navbar-inner">
			<ul class="nav">
			<li class="active" ><a href="{{ @BASE.'/downloads/all' }}"><em class="icon-th icon-black"></em> Export All Members Emails</a></li>
			<li class="active" ><a href="{{ @BASE.'/downloads/cm' }}"><em class="icon-th icon-black"></em>Export Committee Members Emails</a></li>
			<li class="active" ><a href="{{ @BASE.'/downloads/gl' }}"><em class="icon-th icon-black"></em>Export Group Leaders Emails</a></li>
			</ul>
    </div>
    </div>
          <div class="jumbotron">
                <h1>Other Lists</h1>
            </div>
			<div class="navbar">

    <div class="navbar-inner">
			<ul class="nav">
			<li class="active" ><a href="{{ @BASE.'/downloads/unpaid' }}"><em class="icon-th icon-black"></em> Export Unpaid Members</a></li>
			<li class="active" ><a href="{{ @BASE.'/downloads/willpay' }}"><em class="icon-th icon-black"></em>Export WillPay Members</a></li>
			<li class="active" ><a href="{{ @BASE.'/downloads/lastyear' }}"><em class="icon-th icon-black"></em>Export Last Year's Members</a></li>
		
			</ul>
    </div>
    </div>
<!-- No longer used so marked hidden, left in case I need the technique again -->			
<form id="ninja" action="http://192.168.10.10/downloads1/all" method="GET">
	<input type="BUTTON" id="expall" value="Export All Members Emails1" hidden  name="all"/> &nbsp; &nbsp; &nbsp;
	<input type="BUTTON" id="expcm" value="Export Committee Members Emails" hidden name="cm" />&nbsp; &nbsp; &nbsp;
	<input type="BUTTON" id="expgl" value="Export Group Leaders Emails" hidden name="gl"/>

</form><br>
