<script type="text/javascript">
$(function () {
    $("#list").jqGrid({
        url: "/example",
        datatype: "xml",
        mtype: "GET",
        colNames: ["Surname", "Forename", "Num.", "Phone","Mobile","Email","Type","Location","Paid","Amt Paid","Joined"],//],
        colModel: [
           
			{ name: "surname", width: 120 },
             {name: "forename", width: 120, },
			 { name: "membnum", width: 40 }, 
			{ name: "phone", width: 85, align: "right" },
            { name: "mobile", width: 85, align: "right" },
            { name: "email", width: 210, align: "right" }, 
			 { name: "membtype", width: 40, align: "right" },
             { name: "location", width: 65, align: "right" },
			  { name: "paidthisyear", width: 40, align: "right" },
			  { name: "amtpaidthisyear", width: 70, align: "right" },
			  		  { name: "datejoined", width: 100, align: "right" }, /**/
			
        ],
        pager: "#pager",
        rowNum: 10,
        rowList: [10, 20, 30],
        sortname: "membnum",
        sortorder: "asc",
        viewrecords: true,
        gridview: true,
        autoencode: true,
        caption: "My first auto grid",
		 height:'auto',
		 altRows: true,
		 footerrow : true,
		 userDataOnFooter : true, 
    }); 

 $('#jqGrid').navGrid('#pager',
                { edit: false, add: false, del: false, search: true, refresh: true, view: false, position: "left", cloneToTop: true });
	}			); 
</script>
 

    <table id="list"><tr><td></td></tr></table> 
    <div id="pager"></div> 
