<script type="text/javascript">
$(function () {
    $("#list").jqGrid({ 
        url: "/membergrid",
		editurl:"/editmember",
        datatype: "xml",
        mtype: "GET",
        colNames: ["Surname", "Forename", "Num.", "Phone","Mobile","Email","Type","Location","Paid","Amt Paid","Joined"],//],
        colModel: [
           
			{ name: "surname", width: 120,editable: true, edittype:"text",searchoptions : {
                            // show search options
                            sopt: ["bw","eq"] // ge = greater or equal to, le = less or equal to, eq = equal to  							
						}},
             {name: "forename", width: 120,editable: true, edittype:"text"},
			 { name: "membnum", width: 80,searchoptions : {sopt: ["eq"] }, searchrules:{integer:true},sorttype:'number'}, //  eq = equal to  	
			{ name: "phone", width: 85, align: "right",editable: true, edittype:"text" },
            { name: "mobile", width: 85, align: "right",editable: true, edittype:"text" }, 
            { name: "email", width: 210, align: "right",editable: true, edittype:"text" ,searchoptions : {sopt: ["cn"] }}, 
			{ name: "membtype", width: 90, align: "right",editable: true,
			edittype:'select',editoptions:{value:"M:Standard Member;MJL1:Member late 1st year;MJL2:Member late 2nd year;GL:Group Leader;GLS:Group Leader Spouse;CM:Committee Member;CMS:Committee Member Spouse;CMGL:Committee Member & Group Leader"},},
             { name: "location", width: 65, align: "right" ,editable: true,edittype:'select',editoptions:{value:"C:Coast;I:Inland"},},
			 { name: "paidthisyear", width: 80, align: "right" ,editable: true, edittype:'select',editoptions:{value:"Y:Paid;N:Not Paid"} }, 
			  { name: "amtpaidthisyear", width: 80, align: "right",editable: true,searchoptions : {sopt: ["ge","le"] },sorttype:'number',viewable: false },
			  { name: "datejoined", width: 100, align: "right",search:false }, /**/
			
        ],
      pager: "#pager",
		page:1, //LEY
		
		onSelectRow: editRow,
        rowNum: 10, 
        rowList: [10, 20, 30],
		sortname: "membnum",
        sortorder: "asc", 
        viewrecords: true,
						//loadonce:true,  //LEY
		gridview: true,
        autoencode: true,
        caption: "Members XML grid",
		 height:'auto',
		 altRows: false,
		 footerrow : true,
		 userDataOnFooter : true,
	 multiselect: false,
	  
	 ajaxRowOptions: { async: true },

	 
    }); 
            var lastSelection;
function editRow(id) { var grid = $("#list");
                if (id && id !== lastSelection) {
                   
                    grid.jqGrid('restoreRow',lastSelection);
                  
				 } 
				 //grid.jqGrid('editRow',id, true,  '','','','',editreload); //rowid, keys, oneditfunc, successfunc, url, extraparam, aftersavefunc,errorfunc, afterrestorefunc
                    lastSelection = id;
                
            }
			
		
		function reload(rowid, result) {
		$("#list").trigger("reloadGrid", [{ page: 1}]);
		}
 $('#list').jqGrid('navGrid','#pager',
		{ edit: true, add: true, del: true, search: false, refresh: true, view: false, position: "left", cloneToTop: false, },
		{},	//	{ beforeShowForm: function(form) { $('#tr_amtpaidthisyear', form).show(); }}, // use default settings for edit
		{}, // use default settings for add
		{},  // refresh 
		{closeAfterAdd: true, 
                    recreateForm: true
				   }, // enable the advanced searching
		{closeOnEscape:true}
	

                  );
		$('#list').jqGrid('filterToolbar',{searchOperators: true,	});
			
	
 var grid = $("#list");

//***************  REFRESH BUTTON **********/
$("#cm1").click( function() { //Refresh
		var grid = $("#list");
		//$('grid').jqGrid('clearGridData');
		//$('grid').jqGrid('setGridParam', {data: dataToLoad});
		//
		  //var text = $("#searchText").val();
    var postdata = grid.jqGrid('getGridParam', 'postData');
    // build up the filter
    // ['equal','not equal', 'less', 'less or equal','greater','greater or equal', 'begins with','does not begin with','is in','is not in','ends with','does not end with','contains','does not contain']
    // ['eq','ne','lt','le','gt','ge','bw','bn','in','ni','ew','en','cn','nc']
    var myfilter =  '{"groupOp":"AND","rules":[{"field":"paidthisyear","op":"ne","data":"\'A\'"}]}';         
 

    $.extend(postdata, { filters: myfilter });
    grid.jqGrid('setGridParam', { search: false, postData: postdata,datatype:'xml' });        
    grid.trigger("reloadGrid", [{ page: 1,datatype:'xml'}]);
	//$("#list").setGridParam({datatype:'json', page:1}).trigger('reloadGrid');
	//$("grid").trigger("reloadGrid", [{ page: 1,datatype:'xml'}]);
 
});
 



	}			); 
</script>
 

    <table id="list"><tr><td></td></tr></table> 
    <div id="pager"></div> 
	<br>
	<a href="javascript:void(0)" id="cm1">Refresh with NO Filter</a>
	<br>

