<script type="text/javascript">
$(function () {
    $("#list").jqGrid({ 
        url: "/membergrid",
		editurl:"/editmember",
        datatype: "xml",
        mtype: "GET",
        colNames: ["Surname", "Forename", "Num.", "Phone","Mobile","Email","Type","Location","Paid","Amt Paid","Joined"],//],
        colModel: [
           
			{ name: "surname", width: 120,editable: true, edittype:"text",searchoptions : {
                            // show search options
                            sopt: ["bw","eq"] // ge = greater or equal to, le = less or equal to, eq = equal to  							
						}},
             {name: "forename", width: 120,editable: true, edittype:"text"},
			 { name: "membnum", width: 80,searchoptions : {sopt: ["eq"] } }, //  eq = equal to  	
			{ name: "phone", width: 85, align: "right",editable: true, edittype:"text" },
            { name: "mobile", width: 85, align: "right",editable: true, edittype:"text" }, 
            { name: "email", width: 210, align: "right",editable: true, edittype:"text" ,searchoptions : {sopt: ["cn"] }}, 
			 { name: "membtype", width: 40, align: "right" },
             { name: "location", width: 65, align: "right" },
			 { name: "paidthisyear", width: 40, align: "right" ,editable: true, 
			  edittype:"checkbox", editoptions: { value:"True:False"}, 
			  formatter: "checkbox", formatoptions: {disabled : false},}, 
			  { name: "amtpaidthisyear", width: 80, align: "right",editable: true,searchoptions : {sopt: ["ge","le"] },searchrules:{integer:true}},
			  { name: "datejoined", width: 100, align: "right",search:false }, /**/
			
        ],
        pager: "#pager",
		onSelectRow: editRow,
        rowNum: 10,
        rowList: [10, 20, 30],
        sortname: "membnum",
        sortorder: "asc",
        viewrecords: true,
        gridview: true,
        autoencode: true,
        caption: "Members auto grid",
		 height:'auto',
		 altRows: true,
		 footerrow : true,
		 userDataOnFooter : true,
	 multiselect: true,
	// multikey: "ctrlKey",
	 
    }); 
            var lastSelection;
	        function editRow(id) {
                if (id && id !== lastSelection) {
                    var grid = $("#list");
                    grid.jqGrid('restoreRow',lastSelection);
                    grid.jqGrid('editRow',id, {keys:true, focusField: 4});
                    lastSelection = id;
                }
            }
 $('#list').navGrid('#pager',
                { edit: true, add: true, del: true, search: false, refresh: false, view: false, position: "left", cloneToTop: true },
				{
                    closeAfterAdd: true,
                    recreateForm: true,});
			$('#list').jqGrid('filterToolbar',{searchOperators: true,	});
			
	$("#cm1").click( function() {
	var s;
	s = $("#list").jqGrid('getGridParam','selarrrow');
	alert(s);
	// s is list of id's, try changing it to member  numbers
	z= $("#list").jqGrid('getCell',s[0],'membnum');
	alert(z);
});
 var grid = $("#list");
 
	$("#cm2").click( function() { //show only unpaid
   var text = $("#searchText").val();
    var postdata = grid.jqGrid('getGridParam', 'postData');
    // build up the filter
    // ['equal','not equal', 'less', 'less or equal','greater','greater or equal', 'begins with','does not begin with','is in','is not in','ends with','does not end with','contains','does not contain']
    // ['eq','ne','lt','le','gt','ge','bw','bn','in','ni','ew','en','cn','nc']
    var myfilter =  '{"groupOp":"AND","rules":[{"field":"paidthisyear","op":"eq","data":"0"}]}';         
 

    $.extend(postdata, { filters: myfilter });
    grid.jqGrid('setGridParam', { search: text.length > 1, postData: postdata });        
    grid.trigger("reloadGrid", [{ page: 1}]);
});


 // Add Search
$("#mySearch").button().click(function () {
    var text = $("#searchText").val();
    var postdata = grid.jqGrid('getGridParam', 'postData');
    // build up the filter
    // ['equal','not equal', 'less', 'less or equal','greater','greater or equal', 'begins with','does not begin with','is in','is not in','ends with','does not end with','contains','does not contain']
    // ['eq','ne','lt','le','gt','ge','bw','bn','in','ni','ew','en','cn','nc']
    var myfilter =  '{"groupOp":"AND","rules":[{"field":"surname","op":"bw","data":"'.concat(text).concat('"}]}');         
  //  myfilter.rules.push({ field: "surname", op: "cn", data: text });
  //  myfilter.rules.push({ field: "forename", op: "cn", data: text });
 //   myfilter.rules.push({ field: "email", op: "cn", data: text });

    $.extend(postdata, { filters: myfilter });
    grid.jqGrid('setGridParam', { search: text.length > 1, postData: postdata });        
    grid.trigger("reloadGrid", [{ page: 1}]);
});
 
	}			); 
</script>
 

    <table id="list"><tr><td></td></tr></table> 
    <div id="pager"></div> 
	<a href="javascript:void(0)" id="cm1">Get Selected id's</a>
	</br>
	<a href="javascript:void(0)" id="cm2">Show only Unpaid</a>
		</br>
	<a href="javascript:void(0)" id="cm3">Get Selected id's</a>
		</br>
	<a href="javascript:void(0)" id="cm4">Get Selected id's</a>
		</br>
		Get Surname starts with
	<fieldset>
<input type="text" name="a" id="searchText" value="Ed"/>
<button type="button" id="mySearch">Search</button>
</fieldset>
