<div class="navbar">
<!-- in member nav.htm -->
    <div class="navbar-inner">
        <ul class="nav">

            <li <check if="{{ @page_head == 'Member List' }}">class="active"</check>><a href="{{ @BASE.'/' }}"><em class="icon-th icon-black"></em> View Members</a></li>
             <li <check if="{{ @page_head == 'Member List' }}">class="active"</check>><a href="{{ @BASE.'/payments' }}"><em class="icon-th icon-black"></em> Member Payments</a></li>
    		
			<check if="{{ @page_role == 'admin' }}">
			<!-- page role is admin -->
          
			<li class="active"> <a href="{{ @BASE.'/users' }}"><i class="icon-th icon-black"></i>Users</a></li>
			<li class="active"> <a href="{{ @BASE.'/trail' }}"><i class="icon-th icon-black"></i>Audit Trail</a></li>
            <!-- li class="active"> <a href="{{ @BASE.'/admin/refs' }}"><i class="icon-plus-sign icon-black"></i>Reference Tables</a></li -->
           
            </check>

           
        </ul>
		<!-- member nav after /ul-->
    </div>
</div>